@import '../../node_modules/flatpickr/./dist/flatpickr';

[class^='Input_inputWrapper'] .flatpickr-wrapper {
  width: 100%;
}
.flatpickr-confirm {
  display: flex;
}
.flatpickr-confirm .clear-btn {
  width: 50%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.06);
}
.flatpickr-confirm div:hover {
  background: rgba(149, 158, 169, 0.06);
}
.flatpickr-confirm .confirm-btn {
  width: 50%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.06);
}

.flatpickr-confirm svg path {
  fill: inherit;
}

.confirm-btn.visible {
  max-height: 40px;
  visibility: visible;
}
