:root {
  --vp-c-brand: rgb(122,204,241);
  --vp-c-brand-light: rgb(122,204,241);
  --vp-button-brand-bg: rgb(122,204,241);
  --vp-home-hero-name-color: rgb(122,204,241);
  --vp-c-brand-1: rgb(122,204,241)
}